body {
    background-image: linear-gradient(to right,#8DDFCB,#FFC7EA,#FFCF96,#EDB7ED);
    background-attachment: fixed;
    font-family: "poppins", sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    padding-bottom: 20px;
}
.box h1 {
    color: #fff;
    font-size: 2rem;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(7, 6, 6);
    width: 30%;
    text-align: center;
    margin: 20px auto;
    overflow: hidden;
}

.login-container h1, .login-container h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}

input[type="email"], input[type="password"], input[type="text"],input [type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
select
{
    text-align: center;
    font-size: 15px;
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
input
{
    text-align: center;
    font-size: 15px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}
input[type="submit"] {
    width: 80%;
    padding: 10px;
    background-color: #98DED9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #6A9AB0;
}

a {
    color: #6a1b9a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 140px;
}
